fastapi
uvicorn[standard]
pytest
pytest-asyncio
httpx
pydantic
orjson
gymnasium[classic-control]
torch==2.8.0+cpu
--extra-index-url https://download.pytorch.org/whl/cpu
imageio
imageio[ffmpeg]
slowapi
memory_profiler