fastapi
uvicorn[standard]
pytest
pytest-asyncio
httpx
asgi-lifespan 
pydantic
orjson
gymnasium
gymnasium[classic-control]
torch==2.8.0+cpu
--extra-index-url https://download.pytorch.org/whl/cpu
imageio
imageio[ffmpeg]
slowapi
