/*!***********************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[3]!./app/weight-table-components/weighttablestyles.css ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************************/
.cell {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ccc;
}

/*!*************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[3]!./app/weight-table-components/weight-tables-style.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************************/
.arrow {
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.grid-container {
  width: "60%";
  height: 400;
  background: "blue";
}

.grid-slide-container {
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
  max-height: 1000px; /* adjust to max expected height */
}

.grid-slide-container.closed {
  max-height: 0;
  padding: 0;
}

